/************************************************************************/
/* COMMON style                                                         */
/************************************************************************/
* {
    box-sizing: border-box;
}

.charsheet {
    background-image: url("https://raw.githubusercontent.com/Pierre-damase/Galaxy-character-sheet/main/images/image2.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Hide rarrows from number input for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide rarrows from number input for Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }

label, h2 {
    color: white;
}


/************************************************************************/
/* INFO section                                                         */
/************************************************************************/
.sheet-info {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    margin: 0 7% 2% 7%;  /* top, right, bottom, left */
}


/************************************************************************/
/* CHARACTER section                                                    */
/************************************************************************/
.sheet-character-info {
    margin-top: 13%;
}
.sheet-character-info div {
    flex: 25%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
}

.sheet-character-info input[type='number'] {
    width: 25%;
}

.sheet-character-info input {
    height: 2em;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color:.083E47;
}

.sheet-character-info label {
    margin-bottom: 3px;
}

.sheet-character-info div label:nth-of-type(2) {
    margin-top: 7px;
}


/************************************************************************/
/* CHARACTERISTIC section                                               */
/************************************************************************/
.sheet-characteristic-info div {
    flex: 11%;
    display: flex;
    flex-flow: column nowrap;
    padding: 4px;
    align-items: center;
}

.sheet-characteristic-info input {
    height: 4em;
    width: 4em;
    border-style: solid;
    border-radius: 25%;
    border-color: white;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.sheet-characteristic-info input:read-only {
    background-color: #8b1538;
}

.sheet-characteristic-info input:read-write {
    background-color: #083E47;
}

.sheet-characteristic-info button::before {
    content: "" !important;
}

.sheet-characteristic-info button {
    background-color: #8b1538;
    background-image: none;
    box-shadow: none;
    border-style: solid;
    border-color: #8b1538;
    border-radius: 5%;
    color: white;
    height: 2em;
    width: 6em;
    font-size: 1em;
}

.sheet-characteristic-info div:last-child button {
    background-color: transparent;
    border-color: transparent;
    height: 2em;
}


/************************************************************************/
/* TAB selection                                                        */
/************************************************************************/
.sheet-tab {
    flex:25%;
    flex-flow: row nowrap;
    overflow: hidden;
    border: 1px solid white;
    background-color: #8b1538;
}

.sheet-tab button {
    background-color: inherit; 
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 100%;
    color: white;
}

.sheet-tab button:hover:not(.sheet-active) {
    background-color: white;
    color: .8b1538;
}

.sheet-tab button.sheet-active {
    background-color: #083E47;
}

.sheet-subsection {
    display: none;
}


/************************************************************************/
/* ENDURANCE & STRESS section                                           */
/************************************************************************/
.sheet-endurance_stress-info div {
    flex: 50%;
}

.sheet-endurance_stress-info h2 {
    text-align: center;
    margin-top: 0;
}

.sheet-endurance, .sheet-stress {
    display: flex;
    flex-direction: row;
}

.sheet-endurance div, .sheet-stress div {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.sheet-endurance_stress-info input {
    width: 25%;
    height: 2em;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color:.083E47;
    text-align: center;
    color: black;
}

.sheet-progress-bar {
    align-items: center;
    width: 65%;
    margin: auto;
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.sheet-progress {
    padding: 7px 0 7px 0; /* top, right, bottom, left */
    color: white;
    margin-top: 2.5%;
}

.sheet-endurance-progresse { 
    width: 100%; 
    background-color: #8b1538;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.sheet-stress_tmp-progress { 
    width: 0%;
    background-color: black;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}


/************************************************************************/
/* DESCRIPTION section                                                  */
/************************************************************************/
.sheet-description {
    flex-direction: column;
}

.sheet-description label {
    margin-bottom: 0.5%;
    font-weight: bold;
    font-size: 1.1em;
}

.sheet-description textarea {
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: #083E47;
}


/************************************************************************/
/* ENDURANCE & STRESS section                                           */
/************************************************************************/
.sheet-inventory {
    flex: 100%;
}

/* Style du champ objet | quantité | prix | poids | equipé | suppr. */
.sheet-field {
    display: flex;
    flex-flow: row nowrap;
    background-color: #8b1538;
}

.sheet-field div {
    padding: 5px 16px;
    color: white;
    border: 1px solid white;
}

.sheet-text_field {
    width: 50%;
}
.sheet-number_field, .sheet-check_field, .sheet-button_field {
    width: 10%;
}

/* Style du champ avec les boutons ajouté et total*/
.sheet-summary {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 0.5%;
}
.sheet-add_button, .sheet-total_price, .sheet-total_weight {
    padding: 5px 16px;
}
.sheet-total_price, .sheet-total_weight {
    width: 100%;
}
.sheet-add_button {
    width: 20%;
}

/* Style du champ avec les items */
.sheet-player_items {
    border: 1px solid white;
}

.sheet-player_items:empty {
    border: none;
}

.sheet-item {
    display: flex;
    flex-flow: row nowrap;
    padding: 5px 0px;
}
.sheet-item:first-child {
    margin-top: 5px;
}
.sheet-item:last-child {
    margin-bottom: 5px;
}

.sheet-item input[type='text'] {
    width: 99%;
    float: right;
}
.sheet-item input[type='button'] {
    width: 95%;
    float: left;
}
.sheet-item input[type='number'],
.sheet-item input[type='checkbox'] {
    width: 100%;
}

/**
* Rolltemplate css
*/
.sheet-rolltemplate-defense,
.sheet-rolltemplate-attack, .sheet-rolltemplate-attrib {
  padding: 1px; }

.sheet-rolltemplate-attack table {
  font-family: "Georgia";
  background-color: #a0a0a0;
  background: url(http://www.designbolts.com/wp-content/uploads/2013/02/Rough-Grey-Tilable-Pattern-For-Website-Background.jpg) top left repeat;
  width: 100%;
  border: 3px solid #7f0000; }

.sheet-rolltemplate-attack th {
  border-top: 3px solid #7f0000;
  background-color: #ffffff;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/concrete_seamless.png) top left repeat;
  text-align: center;
  font-weight: bold;
  color: #7f0000; }

.sheet-rolltemplate-attack td {
  padding: 3px; }

.sheet-rolltemplate-attack .sheet-attkhead {
  border-bottom: 3px solid #7f0000; }

.sheet-rolltemplate-attack .sheet-attkcat {
  text-align: right;
  width: 50%; }

.sheet-rolltemplate-attack .sheet-attkresult {
  font-weight: bold;
  text-align: left;
  width: 50%;
  padding-left: 5px; }

.sheet-rolltemplate-attack .sheet-attkhit {
  color: #007f00; }

.sheet-rolltemplate-attack .sheet-attkmiss {
  color: #7f0000; }

.sheet-rolltemplate-attack .sheet-effex {
  background-color: #ffffff;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/concrete_seamless.png) top left repeat;
  text-align: center;
  /*    border-top:3px solid #7f0000; */ }

.sheet-rolltemplate-defense table {
  font-family: "Georgia";
  background-color: #a0a0a0;
  background: url(http://www.designbolts.com/wp-content/uploads/2013/02/Rough-Grey-Tilable-Pattern-For-Website-Background.jpg) top left repeat;
  width: 100%;
  border: 3px solid #00007f; }

.sheet-rolltemplate-defense th {
  border-top: 3px solid #00007f;
  background-color: #ffffff;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/concrete_seamless.png) top left repeat;
  text-align: center;
  font-weight: bold;
  color: #00007f; }

.sheet-rolltemplate-defense td {
  padding: 3px; }

.sheet-rolltemplate-defense .sheet-defhead {
  border-bottom: 3px solid #00007f; }

.sheet-rolltemplate-defense .sheet-defcat {
  text-align: right;
  width: 50%; }

.sheet-rolltemplate-defense .sheet-defresult {
  font-weight: bold;
  text-align: left;
  width: 50%;
  padding-left: 5px; }

.sheet-rolltemplate-defense .sheet-defhit {
  color: #7f0000; }

.sheet-rolltemplate-defense .sheet-defmiss {
  color: #007f00; }

.sheet-rolltemplate-defense .sheet-effex {
  background-color: #ffffff;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/concrete_seamless.png) top left repeat;
  text-align: center;
  /*    border-top:3px solid #00007f; */ }

.sheet-rolltemplate-attrib table {
  font-family: "Georgia";
  background-color: #a0a0a0;
  background: url(http://www.designbolts.com/wp-content/uploads/2013/02/Rough-Grey-Tilable-Pattern-For-Website-Background.jpg) top left repeat;
  width: 100%;
  border: 3px solid #007f00; }

.sheet-rolltemplate-attrib th {
  border-top: 3px solid #007f00;
  border-bottom: 3px solid #007f00;
  background-color: #ffffff;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/concrete_seamless.png) top left repeat;
  text-align: center;
  color: #007f00; }

.sheet-rolltemplate-attrib td {
  padding: 3px; }

.sheet-rolltemplate-attrib .sheet-attribcat {
  text-align: right;
  width: 50%; }

.sheet-rolltemplate-attrib .sheet-attribresult {
  font-weight: bold;
  text-align: left;
  width: 50%;
  padding-left: 5px; }

.sheet-rolltemplate-attrib .sheet-attribhit {
  color: #007f00;
  font-weight: bold; }

.sheet-rolltemplate-attrib .sheet-attribmiss {
  color: #7f0000;
  font-weight: bold; }

.sheet-rolltemplate-attrib .sheet-effex {
  background-color: #ffffff;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/concrete_seamless.png) top left repeat;
  text-align: center;
  border-top: 3px solid #007f00; }

.sheet-rolltemplate-abilitycheck table {
  font-family: "Georgia";
  background-color: #a0a0a0;
  background: url(http://www.designbolts.com/wp-content/uploads/2013/02/Rough-Grey-Tilable-Pattern-For-Website-Background.jpg) top left repeat;
  width: 100%;
  border: 3px solid #cc6600; }

.sheet-rolltemplate-abilitycheck th {
  border-top: 3px solid #cc6600;
  border-bottom: 3px solid #cc6600;
  background-color: #ffffff;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/concrete_seamless.png) top left repeat;
  text-align: center;
  color: #cc6600; }

.sheet-rolltemplate-abilitycheck td {
  padding: 3px; }

.sheet-rolltemplate-abilitycheck .sheet-attribcat {
  text-align: right;
  width: 50%; }

.sheet-rolltemplate-abilitycheck .sheet-attribresult {
  font-weight: bold;
  text-align: left;
  width: 50%;
  padding-left: 5px; }

.sheet-rolltemplate-abilitycheck .sheet-attribhit {
  color: #007f00;
  font-weight: bold; }

.sheet-rolltemplate-abilitycheck .sheet-attribmiss {
  color: #7f0000;
  font-weight: bold; }

.sheet-rolltemplate-abilitycheck .sheet-effex {
  background-color: #ffffff;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/concrete_seamless.png) top left repeat;
  text-align: center;
  border-top: 3px solid #cc6600; }

.sheet-rolltemplate-powercheck table {
  font-family: "Georgia";
  background-color: #a0a0a0;
  background: url(http://www.designbolts.com/wp-content/uploads/2013/02/Rough-Grey-Tilable-Pattern-For-Website-Background.jpg) top left repeat;
  width: 100%;
  border: 3px solid #9900ff; }

.sheet-rolltemplate-powercheck th {
  border-top: 3px solid #9900ff;
  border-bottom: 3px solid #9900ff;
  background-color: #ffffff;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/concrete_seamless.png) top left repeat;
  text-align: center;
  color: #9900ff; }

.sheet-rolltemplate-powercheck td {
  padding: 3px; }

.sheet-rolltemplate-powercheck .sheet-attribcat {
  text-align: right;
  width: 50%; }

.sheet-rolltemplate-powercheck .sheet-attribresult {
  font-weight: bold;
  text-align: left;
  width: 50%;
  padding-left: 5px; }

.sheet-rolltemplate-powercheck .sheet-attribhit {
  color: #007f00;
  font-weight bold; }

.sheet-rolltemplate-powercheck .sheet-attribmiss {
  color: #7f0000;
  font-weight: bold; }

.sheet-rolltemplate-powercheck .sheet-effex {
  background-color: #ffffff;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/concrete_seamless.png) top left repeat;
  text-align: center;
  border-top: 3px solid #9900ff; }
